body {
    background-color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #27ae60;
  }

#confirm-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

#confirm-dialog p {
    margin: 0 0 20px ;
}

#confirm-dialog button {
    margin: 0 10px;
}